
.list-group-item{
	text-align: center;
	padding: 20px;
	margin: auto;
}

.list_button{
	padding: 30px;
	margin:auto;
	text-align: center;
	margin-top:10px;
}

#updateButton , #deleteButton{
	width: 60px;
	height: 30px;
	font-size:12px;
	margin-top: 15px;
	margin-bottom: 15px;
}

table{
	height: 130px;
	vertical-align: middle;
	font-size: 16px;
}

#bodyprofileList {
 	width: 90rem;
 	text-align: center;
    margin: auto;
    valign: middle;
    margin-top:100px;
}

h2{
	text-align: center;
	margin-align: auto;
	margin-top:40px;
	margin-bottom: 20px;
}

.profile_title{
	margin-top: 80px;
	margin-bottom: 30px;
}

h5{
	margin:40px;
}

