@charset "UTF-8";

.likeZoom_title , .likeVod_title{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.table{
	width: 1300px;
	text-align: center;
	margin: auto;
	vertical-align: middle;
	margin-bottom: 50px;
}

.table th{
	font-size: 15px;
}

.intro{
	width: 500px;
}

#page a{
	text-align: center;
	margin: auto;
}