@charset "UTF-8";


table{
	margin-top: 80px;
	text-align: center;
}


.btn .btn-outline-dark{
	width: 150px;
	height: 35px;
	font-size: 12px;
	margin: 0 auto;	
	text-align: center;
	margin-top:20px;
}

.table-responsive{
	  margin-right: auto;
	  margin-left: auto;
	  width: 800px;
	  height: 200px;
}


.userInfo_title{
	text-align: center;
	font-size: 27px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

.card {
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}

.btn-group , .userInfoUpdateButton , .imgUpdate{
	margin: 0 auto;
	text-align:center;
}


.imgUpdate , .imgUpdateButton{
	margin: 0 auto;
	text-align:center;
	margin-top:30px;
	margin-bottom: 30px;
}


