@charset "UTF-8";

.mb-4{
	margin: 0 auto;
	text-align: center;
	margin-top:20px;
}

#deleteTitle{
	font-size: 20px;
	font-weight: bold;
}

.deleteSubTitle{
	font-size:13px;
	margin-top:20px;
}

.form-control{
	width: 350px;
	margin: 0 auto;
}

