@charset "UTF-8";

.parent-box {
	display: flex;
}
	
.left-box {
	text-align: center;
	width: 50%;
}

.right-box {
	text-align: center;
	flex-glow: 1;
	width: 50%;
}

.custom-ok-button {
	margin: 0 auto;
	width: 70px;
	height: 27px;
    border: 0;
    background: #34aadc;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border-radius: 6px;
}
.zTree-h3 {
	font-size : 15px;
	font-weight : 450;
	margin : 0;
}