<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mvc.mybatis.CoachRoomMapper">

	<!-- 스케줄 관련 코드 시작 -->
	<resultMap type="org.mvc.bean.ScheduleDTO" id="calMap"> 
		<result property="start" column="start_time"/> 
		<result property="end" column="end_time"/> 
	</resultMap>

	<select id="getAllSchedule" resultMap="calMap" resultType="org.mvc.bean.ScheduleDTO">
		select * from tbl_calendar where c_id = #{c_id}
	</select>

	<insert id="insertSchedule" parameterType="org.mvc.bean.ScheduleDTO">
		insert into tbl_calendar (id, m_id, c_id, title, start_time, end_time)
			values( 
				seq_calendar.nextval,
				#{m_id},
				#{c_id},
				#{title},
				#{start},
				#{end}
			)
	</insert>

	<delete id="deleteSchedule">
		delete tbl_calendar where id = #{id}
	</delete>

	<select id="getSchedule" resultMap="calMap" resultType="org.mvc.bean.ScheduleDTO">
		select * from tbl_calendar where c_id = #{c_id} and id = #{id}
	</select>

	<update id="updateSchedule">
		update tbl_calendar set
			title = #{title},
			m_id = #{m_id},
			start_time = #{start},
			end_time = #{end}
		where id = #{id}
	</update>
	<!-- 스케줄 관련 코드 종료 -->

	<!-- 코치정보 관련 코드 시작 -->
	<select id="getCoachInfo" resultType="org.mvc.bean.CoachInfoDTO">
		select * from tbl_coach where c_id = #{c_id}
	</select>
	
	<select id="getAllCareerInfo" resultType="org.mvc.bean.CoachCareerDTO">
		select * from tbl_coach_career where c_id = #{c_id}
	</select>
	
	<select id="getCareerInfo" resultType="org.mvc.bean.CoachCareerDTO">
		select * from tbl_coach_career where c_id = #{c_id} and num = #{num}
	</select>
	
	<update id="updateInfo">
		update tbl_coach set
			c_name = #{c_name},
			c_nick = #{c_nick},
			c_email = #{c_email},
			c_birth = #{c_birth},
			c_gender = #{c_gender}
		where c_id = #{c_id}
	</update>
	
	<update id="updateImg">
		update tbl_coach set
			c_img = #{c_img}
		where c_id = #{c_id}
	</update>
	
	<update id="updateCareer">
		update tbl_coach_career set
			specialty = #{specialty},
			career = #{career},
			certificate = #{certificate}
		where c_id = #{c_id} and num = #{num}
	</update>
	<!-- 코치정보 관련 코드 종료 -->
	
</mapper>