<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.mvc.mybatis.PaymentMapper">
	
	<insert id="paymentInsert">
		insert into tbl_payment 
			(impUid, merchantUid, name, amount, 
			buyerName, buyerTel, buyerEmail, paidAt, status, c_id, c_num)
			values(#{impUid}, #{merchantUid}, #{name}, #{amount}, 
			#{buyerName}, #{buyerTel}, #{buyerEmail}, #{paidAt}, #{status}, #{c_id}, #{c_num})
	</insert>
	
	<select id="getMerchantUidInfo" resultType="org.mvc.bean.PaymentDTO">		
		select * from tbl_payment where merchantuid = #{merchant_uid}		
	</select>
	
<!-- 거래 건수 관련 -->	
	<select id="getOerderCount" resultType="int">
		select count(*) from tbl_payment
	</select>
	
	<select id="getSearchOerderCount" resultType="int">
		select count(*) from tbl_payment where ${category} like '%'||#{input}||'%'
	</select>
	
	<select id="getOerderCountByStatus" resultType="int">
		select count(*) from tbl_payment where status = #{status}
	</select>
	
	<select id="getSearchOerderCountByStatus" resultType="int">
		select count(*) from tbl_payment where status = #{status} and ${category} like '%'||#{input}||'%'
	</select>
	
	<select id="getMyOerderCount" resultType="int">
		select count(*) from tbl_payment where buyerName = #{id}
	</select>
	
	<select id="getSearchMyOerderCount" resultType="int">
		select count(*) from tbl_payment where buyerName = #{id} and ${category} like '%'||#{input}||'%'
	</select>
	
	<select id="getMyOerderCountByStatus" resultType="int">
		select count(*) from tbl_payment where buyerName = #{id} and status = #{status}
	</select>
	
	<select id="getSearchMyOerderCountByStatus" resultType="int">
		select count(*) from tbl_payment where buyerName = #{id} and status = #{status} and ${category} like '%'||#{input}||'%'
	</select>
	
	<select id="getCoachOerderCount" resultType="int">
		select count(*) from tbl_payment where c_id = #{c_id}
	</select>
	
	<select id="getSearchCoachOerderCount" resultType="int">
		select count(*) from tbl_payment where c_id = #{c_id} and ${category} like '%'||#{input}||'%'
	</select>
	
	<select id="getCoachOerderCountByStatus" resultType="int">
		select count(*) from tbl_payment where c_id = #{c_id} and status = #{status}
	</select>
	
	<select id="getSearchCoachOerderCountByStatus" resultType="int">
		select count(*) from tbl_payment where c_id = #{c_id} and status = #{status} and ${category} like '%'||#{input}||'%'
	</select>
	
<!-- 결제 내역 출력 관련 -->
	<select id="getPaymentList" resultType="org.mvc.bean.PaymentDTO">
		select * from tbl_payment order by paidat desc
	</select>
	
	<select id="getSearchPaymentList" resultType="org.mvc.bean.PaymentDTO">
		select * from tbl_payment where ${category} like '%'||#{input}||'%' order by paidat desc
	</select>
	
	<select id="getPaymentMyList" resultType="org.mvc.bean.PaymentDTO">
		select * from tbl_payment where buyerName = #{id} order by paidat desc 
	</select>
	
	<select id="getSearchPaymentMyList" resultType="org.mvc.bean.PaymentDTO">
		select * from tbl_payment where buyerName = #{id} and ${category} like '%'||#{input}||'%' order by paidat desc 
	</select>
	
	<select id="getPaymentCoachList" resultType="org.mvc.bean.PaymentDTO">
		select * from tbl_payment where c_id = #{c_id} order by paidat desc 
	</select>
	
	<select id="getSearchPaymentCoachList" resultType="org.mvc.bean.PaymentDTO">
		select * from tbl_payment where c_id = #{c_id} and ${category} like '%'||#{input}||'%' order by paidat desc 
	</select>
	
	<select id="getPaymentClassList" resultType="org.mvc.bean.PaymentDTO">
		select * from tbl_payment where c_num = #{c_num} order by paidat desc 
	</select>

	<select id="getCancelList" resultType="org.mvc.bean.PaymentDTO">
		select * from tbl_cancel where impuid = #{imp_Uid}
	</select>
	
	<select id="getCancelReqInfo" resultType="org.mvc.bean.PaymentDTO">
		select * from tbl_cancel where impuid = #{imp_Uid} and status = 'creq'
	</select>
	
	
<!-- 결제 취소 관련 -->	
	<update id="paymentCancelUpdateTP">
		update tbl_payment set
			status = #{status},
			cancelAmount = #{cancelAmount},
			cancelReason = #{cancelReason}
		where impUid = #{impUid}
	</update>
	
	<update id="paymentCancelUpdateTC">
		update tbl_cancel set
			cancelledAt = #{cancelledAt,jdbcType=VARCHAR},
			status = #{status},
			cancelAmount = #{cancelAmount},
			cancelReason = #{cancelReason}
		where impUid = #{impUid}
	</update>
	
	<insert id="paymentCancelInsert">
		insert into tbl_cancel
			values(seq_cancel.nextval, #{impUid}, #{cancelAmount}, #{cancelpAmount}, 
			#{cancelReason}, #{cancelledAt,jdbcType=VARCHAR}, #{status}, #{cancelReqAmount})
	</insert>
	

<!-- 매출 관련 -->		
	<select id="getAmountTotal" resultType="int">
		select sum(AMOUNT) from tbl_payment
	</select>
	
	<select id="getSearchAmountTotal" resultType="int">
		select sum(AMOUNT) from tbl_payment where ${category} like '%'||#{input}||'%'
	</select>
	
	<select id="getCancelAmountTotal" resultType="int">
		select sum(CANCELAMOUNT) from tbl_payment
	</select>
	
	<select id="getSearchCancelAmountTotal" resultType="int">
		select sum(CANCELAMOUNT) from tbl_payment where ${category} like '%'||#{input}||'%'
	</select>
	
	<select id="getAmountCoach" resultType="int">
		select sum(AMOUNT) from tbl_payment where c_id=#{c_id}
	</select>
	
	<select id="getCancelAmountCoach" resultType="int">
		select sum(CANCELAMOUNT) from tbl_payment where c_id=#{c_id}
	</select>
	
	<select id="getSearchAmountCoachTotal" resultType="int">
		select sum(AMOUNT) from tbl_payment where c_id=#{c_id} and ${category} like '%'||#{input}||'%'
	</select>
	
	<select id="getSearchCancelAmountCoachTotal" resultType="int">
		select sum(CANCELAMOUNT) from tbl_payment where c_id=#{c_id} and ${category} like '%'||#{input}||'%'
	</select>

	<select id="getAmountMy" resultType="int">
		select sum(AMOUNT) from tbl_payment where BUYERNAME=#{id}
	</select>
	
	<select id="getCancelAmountMy" resultType="int">
		select sum(CANCELAMOUNT) from tbl_payment where BUYERNAME=#{id}
	</select>

</mapper>  