<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.mvc.mybatis.UserInfoMapper">
	
	<insert id="insertUserInfo" >
		insert into tbl_user(id, pw, email, nick)
			values(#{id} , #{pw} , #{email}, #{nick})
	</insert>
	
	<select id="getUserInfo" resultType="int">
		select count(*) from tbl_user where id=#{id} and pw=#{pw} and status != '탈퇴'
	</select>
	
	<!-- 아이디 중복확인 -->
	<select id="idCheck" resultType="int">
		select count(*) from tbl_user where id = #{id}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultType="String">
		select id from tbl_user where name = #{name} and tel = #{tel}
	</select>
	
	<!-- 이메일 인증 -->
	<update id="emailTemp">
		update tbl_user set
			temp_pw = #{temp_pw}
		where id = #{id} and email = #{email}
	</update>
	
	<!-- 인증번호 체크 -->
	<select id="emailCheck" resultType="Integer">
		select count(*) from tbl_user
			where id = #{id} and email = #{email} and temp_pw = #{temp_pw}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePw">
		update tbl_user set
			pw = #{pw}
		where id = #{id} and email = #{email}
	</update>
	
	<!-- 카카오 로그인 -->
	<insert id="kakaoInsert">
		insert into tbl_user(id, email, nick, img)
			values(
				#{id},
				#{email},
				#{nick},
				#{img}
			)
	</insert>
	
	<select id="kakaoCheck" resultType="Integer"> 
		select count(*) from tbl_user
			where id = #{id}
	</select>
	
	<!-- 네이버 로그인 -->
	<insert id="naverInsert">
		insert into tbl_user(id, email, nick, img)
			values(
				#{id},
				#{email},
				#{nick},
				#{img}
			)
	</insert>
	
	<select id="naverCheck" resultType="Integer">
		select count(*) from tbl_user
			where id = #{id}
	</select>
	
	<!-- 코치 로그인 -->
	<select id="coachCheck" resultType="Integer">
		select count(*) from tbl_coach where c_id = #{c_id} and c_pw = #{c_pw}
	</select>
</mapper>







